<div class="container employee-list-container">
  <button
    type="button"
    mdbBtn
    color="indigo"
    rounded="true"
    size="sm"
    class="btn-create-employee"
    id="create-employee-btn"
    (click)="createEmployee()"
  >
    Add Employee
  </button>

  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{ head }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.first_name }}</td>
        <td>{{ employee.last_name }}</td>
        <td>{{ employee.email }}</td>
        <td>
          <span class="table-remove">
            <button
              type="button"
              mdbBtn
              color="indigo"
              rounded="true"
              size="sm"
              class="btn-view-employee"
              (click)="viewDetails(employee)"
            >
              View
            </button>
          </span>
        </td>
        <td>
          <span class="table-remove">
            <button
              type="button"
              mdbBtn
              color="indigo"
              rounded="true"
              size="sm"
              class="btn-update-employee"
              (click)="updateEmployee(employee)"
            >
              Update
            </button>
          </span>
        </td>
        <td>
          <span class="table-remove">
            <button
              type="button"
              mdbBtn
              color="danger"
              rounded="true"
              size="sm"
              class="btn-delete-employee"
              (click)="openDeleteModal(modalDelete, employee)"
            >
              Remove
            </button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Table -->
</div>

<!-- Modal -->
<ng-template #modalDelete>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-confirmation-lable">
      Delete Employee Record
    </h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="closeModal()"
    ></button>
  </div>
  <div class="modal-body">Are you sure you want to delete this record?</div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="closeModal()"
    >
      Close
    </button>
    <button type="button" class="btn btn-primary" (click)="deleteEmployee()">
      Delete
    </button>
  </div>
</ng-template>
<!-- Modal -->
